/* poppin-font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
   /*-------------- header ----------------- */
header{
    background-color: #2d25a0;
    padding-top: 42px;
}
.nav-bar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 36px
}
/* -----------banner part--------- */

.top-banner{
    display: flex;
    background-color: #2d25a0;
    
}
.banner-info , .banner-img{
    width: 50%;
    padding: 5%
}
.banner-info{
    margin-left: 40px;
    padding-top: 30px;
    padding-right: 0px;
}
.banner-title{
    font-size: 64px;
    color: white;
    margin-bottom: 7px;
}

.link-button{
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 5px 24px;
    color: white;
    border: none;
    background-color:  #E02C6D;
    cursor: pointer;
}
.link-button p{
    margin-right: 8px;
}

.banner-img img{
    width: 95%;
}

/* -------------Player section ---------------*/

.player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.players{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
}
.player{
    padding: 13px;
    border-radius: 3px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 100%;
}
.player h3{
    font-size: 28px;
}
.player p{
    font-family: normal;
    line-height: 26px;
}

/* ------------------------
down-banner section 
--------------------------*/

.down-banner{
    display: flex;
    margin-top: 45px;
}
.down-banner-info , .down-banner-img{
    width: 50%;
    padding: 5%;
}
.down-banner-info{
    margin-left: 40px;
    padding-right: 0px;
}
.down-banner-info h1{
    font-size: 45px;
    margin-bottom: 7px;
}
.down-banner-info p{
    font-family: normal;
    line-height: 26px;
}
.down-banner-img img{
    width: 100%;
    
}

/* -------------------
footer part
------------------------ */

footer{
    margin: 45px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer img{
    width: 400px;
    height: 100px;
    margin-bottom: 15px;
}
.social-icon span{
    margin: 0 5px;
    
}
.footer p{
    font-family: normal;
}